* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

body {
  background: white;
  color: #00171f;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

h1, h2 {
    color: orange;
    font-size: 75px;
}
h3 {
    color: orange;
    font-size: 50px;
}
h4 {
    color: white;
    font-size: 20px;
}
h5 {
    color: white;
    font-size: 15px;
    text-align: left;
}
article {
  margin: 20px auto;
  padding: 20px;
  border: 3px solid orange;
  overflow: auto;
}

#main { 
  margin: 0 auto 50px auto;
  width: 100%;
  padding: 30px;
  color: #ffffff;
  background: yellow;
  border-bottom: 3px solid orange;
  text-align: center;
}

#articles{
  max-width: 80%;
  margin: 0 auto;
}

.catPhrase {
  margin-left: 50px;
}

.decPoke {
  height: 500px;
  width: 450px;
  float: left;
  margin-right: 20px;
  border: 2px white;
}
